<div class="header">
    <%= link_to "< Back" , category_path(@category) , class: "back-link" %>
    <h4>Add Transaction</h4>
    <a href="/logout" data-method="delete">
    <i class="fa-solid fa-right-from-bracket"></i>
    </a>
</div>
<section class="container">
    <% if flash[:alert].present? %>
        <p><%= flash[:alert] %></p>
    <% end %>
    <div>
        <%= render 'form', category: @category,  budget_log: @budget_log%>
    </div>
</section>